<?xml version="1.0" encoding="Windows-1252" ?>
<NotepadPlus>
    <!-- The History of opened files list -->
    <FindHistory nbMaxFindHistoryPath="10" nbMaxFindHistoryFilter="10" nbMaxFindHistoryFind="10" nbMaxFindHistoryReplace="10" matchWord="yes" matchCase="no" wrap="yes" directionDown="yes" fifRecuisive="yes" fifInHiddenFolder="no" dlgAlwaysVisible="no" fifFilterFollowsDoc="no" fifFolderFollowsDoc="no" searchMode="1" transparencyMode="1" transparency="150" dotMatchesNewline="no">
        <Path name="E:\_Project\Cwc\Lib\VLiance\GZE\GZE-0.2.0" />
        <Path name="E:\_Project\Cwc\Lib\VLiance\GZE" />
        <Path name="E:\_Project\Cwc\_Cwc_Demos3\Cwc_Demos-0.0.6\Base_Example\07_CWayv\src_(Demo)" />
        <Path name="E:\_Project\Cwc\_Cwc_Demos3\Cwc_Demos-0.0.6\Base_Example\07_CWayv\obj\cw" />
        <Path name="E:\_Project\Cwc\_Cwc_Demos3\Cwc_Demos-0.0.6\Base_Example\07_CWayv" />
        <Path name="E:\_Project\_MyProject\CWayv_Haxe" />
        <Path name="E:\_Project\Cwc\Lib\VLiance\GZE\GZE-0.2.0\cw\SubLib_System\GzWindows" />
        <Path name="E:\_Project\MyHash\cryptogone-ariocppminer" />
        <Path name="O:\HashTest\xmrigCC-master" />
        <Path name="O:\_GitProjects\fips" />
        <Filter name="*.*" />
        <Filter name="*.h,*.cpp" />
        <Filter name="*.h" />
        <Find name="{wPath}" />
        <Find name="Lib_GZ/Macro.h" />
        <Find name="Lib_GZ::Base::pMath" />
        <Find name="Lib_GZ::Base::Math" />
        <Find name="GZ.Base.Math" />
        <Find name="Lib_GZ::pMath" />
        <Find name="Lib_GZ::Math" />
        <Find name="GZ_M_fITronc" />
        <Find name="Math" />
        <Find name="Debug" />
        <Replace name="Lib_GZ/Base/Macro.h" />
        <Replace name="Lib_GZ::Base::Math::pMath" />
        <Replace name="GZ.Base.Math.Math" />
        <Replace name="Lib_GZ::Base::pMath" />
        <Replace name="Lib_GZ::Base::Math" />
        <Replace name="Lib_GZ::Base::Thread::cThreadMsg" />
        <Replace name="Lib_GZ::Base::Thread::cThreadExt" />
        <Replace name="namespace Lib_GZ{namespace Base{namespace Thread{class cThread;}}}" />
        <Replace name="Lib_GZ::Base::Thread::cThread" />
        <Replace name="Lib_GZ/Base/Thread/Thread" />
    </FindHistory>
    <GUIConfigs>
        <GUIConfig name="ToolBar" visible="yes">standard</GUIConfig>
        <GUIConfig name="StatusBar">show</GUIConfig>
        <GUIConfig name="TabBar" dragAndDrop="yes" drawTopBar="yes" drawInactiveTab="yes" reduce="yes" closeButton="yes" doubleClick2Close="no" vertical="no" multiLine="no" hide="no" quitOnEmpty="no" />
        <GUIConfig name="ScintillaViewsSplitter">vertical</GUIConfig>
        <GUIConfig name="UserDefineDlg" position="undocked">hide</GUIConfig>
        <GUIConfig name="TabSetting" replaceBySpace="no" size="4" />
        <GUIConfig name="AppPosition" x="-1217" y="392" width="860" height="952" isMaximized="yes" />
        <GUIConfig name="noUpdate" intervalDays="15" nextUpdateDate="20080426">no</GUIConfig>
        <GUIConfig name="Auto-detection">auto</GUIConfig>
        <GUIConfig name="CheckHistoryFiles">no</GUIConfig>
        <GUIConfig name="TrayIcon">no</GUIConfig>
        <GUIConfig name="MaitainIndent">yes</GUIConfig>
        <GUIConfig name="TagsMatchHighLight" TagAttrHighLight="yes" HighLightNonHtmlZone="no">yes</GUIConfig>
        <GUIConfig name="RememberLastSession">yes</GUIConfig>
        <GUIConfig name="DetectEncoding">yes</GUIConfig>
        <GUIConfig name="NewDocDefaultSettings" format="0" encoding="4" lang="0" codepage="-1" openAnsiAsUTF8="yes" />
        <GUIConfig name="langsExcluded" gr0="0" gr1="0" gr2="0" gr3="0" gr4="0" gr5="0" gr6="0" gr7="0" langMenuCompact="yes" />
        <GUIConfig name="Print" lineNumber="no" printOption="3" headerLeft="$(FULL_CURRENT_PATH)" headerMiddle="" headerRight="$(LONG_DATE) $(TIME)" footerLeft="" footerMiddle="-$(CURRENT_PRINTING_PAGE)-" footerRight="" headerFontName="IBMPC" headerFontStyle="1" headerFontSize="8" footerFontName="" footerFontStyle="0" footerFontSize="9" margeLeft="0" margeRight="0" margeTop="0" margeBottom="0" />
        <GUIConfig name="Backup" action="0" useCustumDir="no" dir="" isSnapshotMode="yes" snapshotBackupTiming="7000" />
        <GUIConfig name="TaskList">yes</GUIConfig>
        <GUIConfig name="MRU">yes</GUIConfig>
        <GUIConfig name="URL">2</GUIConfig>
        <GUIConfig name="globalOverride" fg="no" bg="no" font="no" fontSize="no" bold="no" italic="no" underline="no" />
        <GUIConfig name="auto-completion" autoCAction="3" triggerFromNbChar="1" autoCIgnoreNumbers="yes" funcParams="yes" />
        <GUIConfig name="auto-insert" parentheses="yes" brackets="yes" curlyBrackets="yes" quotes="no" doubleQuotes="yes" htmlXmlTag="no" />
        <GUIConfig name="sessionExt"></GUIConfig>
        <GUIConfig name="workspaceExt"></GUIConfig>
        <GUIConfig name="MenuBar">show</GUIConfig>
        <GUIConfig name="Caret" width="1" blinkRate="250" />
        <GUIConfig name="ScintillaGlobalSettings" enableMultiSelection="yes" />
        <GUIConfig name="openSaveDir" value="0" defaultDirPath="" />
        <GUIConfig name="titleBar" short="no" />
        <GUIConfig name="stylerTheme" path="E:\_Project\Cwc\Utils\npp\stylers.xml" />
        <GUIConfig name="wordCharList" useDefault="yes" charsAdded="" />
        <GUIConfig name="delimiterSelection" leftmostDelimiter="40" rightmostDelimiter="41" delimiterSelectionOnEntireDocument="no" />
        <GUIConfig name="multiInst" setting="0" />
        <GUIConfig name="MISC" fileSwitcherWithoutExtColumn="no" backSlashIsEscapeCharacterForSql="yes" newStyleSaveDlg="no" isFolderDroppedOpenFiles="no" docPeekOnTab="yes" docPeekOnMap="no" />
        <GUIConfig name="searchEngine" searchEngineChoice="2" searchEngineCustom="" />
        <GUIConfig name="SmartHighLight" matchCase="no" wholeWordOnly="yes" useFindSettings="no" onAnotherView="yes">yes</GUIConfig>
        <GUIConfig name="ScintillaPrimaryView" lineNumberMargin="show" bookMarkMargin="show" indentGuideLine="hide" folderMarkStyle="box" lineWrapMethod="aligned" currentLineHilitingShow="show" scrollBeyondLastLine="no" disableAdvancedScrolling="no" wrapSymbolShow="hide" Wrap="no" borderEdge="yes" edge="no" edgeNbColumn="100" zoom="3" zoom2="-1" whiteSpaceShow="hide" eolShow="hide" borderWidth="2" smoothFont="no" />
        <GUIConfig name="SmartHighLightCaseSensitive">no</GUIConfig>
        <GUIConfig name="DockingManager" leftWidth="211" rightWidth="765" topHeight="200" bottomHeight="166">
            <FloatingWindow cont="4" x="1090" y="807" width="1431" height="940" />
            <FloatingWindow cont="4" x="1090" y="807" width="1431" height="940" />
            <FloatingWindow cont="5" x="2367" y="917" width="2708" height="1050" />
            <PluginDlg pluginName="Notepad++::InternalFunction" id="44085" curr="0" prev="-1" isVisible="yes" />
            <PluginDlg pluginName="dbgpPlugin.dll" id="0" curr="3" prev="4" isVisible="no" />
            <PluginDlg pluginName="dummy" id="0" curr="3" prev="4" isVisible="yes" />
            <PluginDlg pluginName="Notepad++::InternalFunction" id="44084" curr="1" prev="-1" isVisible="no" />
            <PluginDlg pluginName="NppManagedPluginDemo" id="15" curr="1" prev="5" isVisible="yes" />
            <ActiveTabs cont="0" activeTab="0" />
            <ActiveTabs cont="1" activeTab="-1" />
            <ActiveTabs cont="2" activeTab="-1" />
            <ActiveTabs cont="3" activeTab="-1" />
            <ActiveTabs cont="4" activeTab="-1" />
        </GUIConfig>
    </GUIConfigs>
    <History nbMaxFile="15" inSubMenu="no" customLength="-1">
        <File filename="E:\_Project\Cwc\_Cwc_Demos3\Cwc_Demos-0.0.6\Base_Example\07_CWayv\obj\cw\Lib_GZ\Base\Thread\Thread.h" />
        <File filename="E:\_Project\Cwc\Lib\VLiance\GZE\GZE-0.2.0\cpp\Lib_GZ\Base\GzBase.h" />
        <File filename="E:\_Project\Cwc\Lib\VLiance\GZE\GZE-0.2.0\cpp\Lib_GZ\Lib.h" />
        <File filename="E:\_Project\Cwc\Lib\VLiance\GZE\GZE-0.2.0\cpp\Lib_GZ\GZ.h" />
        <File filename="E:\_Project\Cwc\_Cwc_Demos3\Cwc_Demos-0.0.6\Base_Example\07_CWayv\obj\cw\Lib_GZ\Lib_GZ.h" />
        <File filename="E:\_Project\Cwc\Lib\VLiance\GZE\GZE-0.2.0\Cpp\MinGZE.cxx" />
        <File filename="E:\_Project\Cwc\Lib\VLiance\GZE\GZE-0.2.0\cpp\Lib_GZ\Base\Container\String\gzString.cpp" />
        <File filename="E:\_Project\Cwc\_Cwc_Demos3\Cwc_Demos-0.0.6\Base_Example\07_CWayv\obj\cw\Lib_GZ\Gfx\Pixel.cpp" />
        <File filename="E:\_Project\Cwc\_Cwc_Demos3\Cwc_Demos-0.0.6\Base_Example\07_CWayv\obj\cw\Lib_GZ\Gfx\Object.cpp" />
        <File filename="E:\_Project\Cwc\Lib\VLiance\GZE\GZE-0.2.0\cpp\Lib_GZ\Base\Math\_Math.h" />
        <File filename="E:\_Project\Cwc\Lib\VLiance\GZE\GZE-0.2.0\cw\Engine_(GZ)\Base\Math\Math.cw" />
        <File filename="E:\_Project\Cwc\Lib\VLiance\GZE\GZE-0.2.0\cpp\Lib_GZ\Base\Math\Math.cpp" />
        <File filename="E:\_Project\Cwc\Lib\VLiance\GZE\GZE-0.2.0\cpp\Lib_GZ\Base\Math\Math.h" />
        <File filename="E:\_Project\Cwc\Lib\VLiance\GZE\GZE-0.2.0\cpp\Lib_GZ\Base\Container\Array\DataArrayCommun.h" />
        <File filename="E:\_Project\Cwc\Lib\VLiance\GZE\GZE-0.2.0\cw\Engine_(GZ)\Gfx\GlobalData.cw" />
    </History>
    <ProjectPanels>
        <ProjectPanel id="0" workSpaceFile="" />
        <ProjectPanel id="1" workSpaceFile="" />
        <ProjectPanel id="2" workSpaceFile="" />
    </ProjectPanels>
    <FileBrowser latestSelectedItem="E:/_Project/Cwc/Toolchain/VLianceTool/LibRT/LibRT-3.9.0.1/i686-w64-mingw32/include/c++/\locale">
        <root foldername="E:/_Project/Cwc/Toolchain/VLianceTool/LibRT/LibRT-3.9.0.1/clang_inc/" />
        <root foldername="E:/_Project/Cwc/Toolchain/VLianceTool/LibRT/LibRT-3.9.0.1/include/" />
        <root foldername="E:/_Project/Cwc/Toolchain/VLianceTool/LibRT/LibRT-3.9.0.1/i686-w64-mingw32/include/" />
        <root foldername="E:/_Project/Cwc/Toolchain/VLianceTool/LibRT/LibRT-3.9.0.1/i686-w64-mingw32/include/c++/" />
        <root foldername="E:/_Project/Cwc/Toolchain/VLianceTool/LibRT/LibRT-3.9.0.1/i686-w64-mingw32/include/c++/backward/" />
        <root foldername="E:/_Project/Cwc/_Cwc_Demos/Cwc_Demos-0.0.6/Other/GZE_Prototype/" />
    </FileBrowser>
</NotepadPlus>
