<?xml version="1.0" encoding="Windows-1252" ?>
<NotepadPlus>
    <!-- The History of opened files list -->
    <FindHistory nbMaxFindHistoryPath="10" nbMaxFindHistoryFilter="10" nbMaxFindHistoryFind="10" nbMaxFindHistoryReplace="10" matchWord="no" matchCase="yes" wrap="yes" directionDown="yes" fifRecuisive="yes" fifInHiddenFolder="no" dlgAlwaysVisible="no" fifFilterFollowsDoc="no" fifFolderFollowsDoc="no" searchMode="0" transparencyMode="1" transparency="150" dotMatchesNewline="no">
        <Path name="O:\_GitProjects\fips" />
        <Path name="O:\_GitProjects\oryol-master(1)\oryol-master" />
        <Path name="O:\_GitProjects\oryol\" />
        <Path name="O:\_GitProjects\oryol\code\Modules" />
        <Path name="E:\_Project\Cwc\Lib\VLiance\GZE\GZE-0.2.0" />
        <Path name="E:\_Project\TestNppDBG\DBGpPlugin_0_13b_src" />
        <Path name="E:\_Project\Cwc\_Cwc_Demos" />
        <Path name="E:\_Project\" />
        <Path name="E:\_Project\_MyProject\CWave_Haxe\CWave" />
        <Filter name="*.*" />
        <Filter name="*.h,*.cpp" />
        <Filter name="*.h" />
        <Find name="add_custom_command" />
        <Find name="DebugShaders" />
        <Find name="ORYOL_COMPILER_HAS_THREADLOCAL" />
        <Find name="_MSC_VER" />
        <Find name="ORYOL_THREADLOCAL_PTR" />
        <Find name="windows" />
        <Find name="_wfullpath" />
        <Find name="//////////////////////" />
        <Find name="SetClass" />
        <Find name="tHDef_IN_null" />
        <Replace name=': return &quot;&quot;;' />
        <Replace name="case _" />
        <Replace name="void" />
        <Replace name="h" />
        <Replace name="e" />
        <Replace name="b" />
        <Replace name="\\" />
        <Replace name="/" />
        <Replace name="s" />
        <Replace name="qa" />
    </FindHistory>
    <History nbMaxFile="15" inSubMenu="no" customLength="-1">
        <File filename="O:\_GitProjects\oryol\fips" />
        <File filename="O:\_GitProjects\oryol\fips-files\generators\README.md" />
        <File filename="O:\_GitProjects\oryol\code\Modules\Dbg\CMakeLists.txt" />
        <File filename="O:\_GitProjects\oryol-master(1)\oryol-master\.gitignore" />
        <File filename="O:\ProgAutre\oryol-master\code\Modules\Gfx\Setup\ProgramBundleSetup.cc" />
        <File filename="O:\ProgAutre\fips-build\oryol-master\emsc-make-release\code\Modules\Dbg\DebugShaders.h" />
        <File filename="O:\_GitProjects\oryol\code\Modules\Dbg\private\debugTextRenderer.cc" />
        <File filename="O:\_GitProjects\oryol\code\Build.cwc" />
        <File filename="O:\_GitProjects\oryol\code\Modules\Assets\Gfx\TextureLoader.cc" />
        <File filename="O:\_GitProjects\oryol\code\Modules\Core\StackTrace.cc" />
        <File filename="O:\_GitProjects\oryol\code\Modules\Core\private\windows\precompiled.h" />
        <File filename="O:\_GitProjects\oryol\code\Modules\Core\Core.cc" />
        <File filename="O:\_GitProjects\oryol\code\Modules\Core\App.cc" />
        <File filename="N:\_MyPoject\_MyEngine_837\_MyEngine\_GroundZeroEngine\GzDemo\_Src\Demo\__MainInterface.h" />
        <File filename="E:\_Project\_MyProject\CWayv_Haxe\CWDK\CwiftDemo\_outbin\test\Lib_Demo\MainEntry.h" />
    </History>
    <GUIConfigs>
        <GUIConfig name="ToolBar" visible="yes">standard</GUIConfig>
        <GUIConfig name="StatusBar">show</GUIConfig>
        <GUIConfig name="TabBar" dragAndDrop="yes" drawTopBar="yes" drawInactiveTab="yes" reduce="yes" closeButton="yes" doubleClick2Close="no" vertical="no" multiLine="no" hide="no" quitOnEmpty="no" />
        <GUIConfig name="ScintillaViewsSplitter">vertical</GUIConfig>
        <GUIConfig name="UserDefineDlg" position="undocked">hide</GUIConfig>
        <GUIConfig name="TabSetting" replaceBySpace="no" size="4" />
        <GUIConfig name="AppPosition" x="-1603" y="684" width="685" height="520" isMaximized="yes" />
        <GUIConfig name="noUpdate" intervalDays="15" nextUpdateDate="20080426">no</GUIConfig>
        <GUIConfig name="Auto-detection">auto</GUIConfig>
        <GUIConfig name="CheckHistoryFiles">no</GUIConfig>
        <GUIConfig name="TrayIcon">no</GUIConfig>
        <GUIConfig name="MaitainIndent">yes</GUIConfig>
        <GUIConfig name="TagsMatchHighLight" TagAttrHighLight="yes" HighLightNonHtmlZone="no">yes</GUIConfig>
        <GUIConfig name="RememberLastSession">yes</GUIConfig>
        <GUIConfig name="DetectEncoding">yes</GUIConfig>
        <GUIConfig name="NewDocDefaultSettings" format="0" encoding="4" lang="0" codepage="-1" openAnsiAsUTF8="yes" />
        <GUIConfig name="langsExcluded" gr0="0" gr1="0" gr2="0" gr3="0" gr4="0" gr5="0" gr6="0" gr7="0" langMenuCompact="yes" />
        <GUIConfig name="Print" lineNumber="no" printOption="3" headerLeft="$(FULL_CURRENT_PATH)" headerMiddle="" headerRight="$(LONG_DATE) $(TIME)" footerLeft="" footerMiddle="-$(CURRENT_PRINTING_PAGE)-" footerRight="" headerFontName="IBMPC" headerFontStyle="1" headerFontSize="8" footerFontName="" footerFontStyle="0" footerFontSize="9" margeLeft="0" margeRight="0" margeTop="0" margeBottom="0" />
        <GUIConfig name="Backup" action="0" useCustumDir="no" dir="" isSnapshotMode="yes" snapshotBackupTiming="7000" />
        <GUIConfig name="TaskList">yes</GUIConfig>
        <GUIConfig name="MRU">yes</GUIConfig>
        <GUIConfig name="URL">2</GUIConfig>
        <GUIConfig name="globalOverride" fg="no" bg="no" font="no" fontSize="no" bold="no" italic="no" underline="no" />
        <GUIConfig name="auto-completion" autoCAction="3" triggerFromNbChar="1" autoCIgnoreNumbers="yes" funcParams="yes" />
        <GUIConfig name="auto-insert" parentheses="yes" brackets="yes" curlyBrackets="yes" quotes="no" doubleQuotes="yes" htmlXmlTag="no" />
        <GUIConfig name="sessionExt"></GUIConfig>
        <GUIConfig name="workspaceExt"></GUIConfig>
        <GUIConfig name="MenuBar">show</GUIConfig>
        <GUIConfig name="Caret" width="1" blinkRate="250" />
        <GUIConfig name="ScintillaGlobalSettings" enableMultiSelection="yes" />
        <GUIConfig name="openSaveDir" value="0" defaultDirPath="" />
        <GUIConfig name="titleBar" short="no" />
        <GUIConfig name="stylerTheme" path="E:\_Project\Cwc\Utils\npp\stylers.xml" />
        <GUIConfig name="wordCharList" useDefault="yes" charsAdded="" />
        <GUIConfig name="delimiterSelection" leftmostDelimiter="40" rightmostDelimiter="41" delimiterSelectionOnEntireDocument="no" />
        <GUIConfig name="multiInst" setting="0" />
        <GUIConfig name="MISC" fileSwitcherWithoutExtColumn="no" backSlashIsEscapeCharacterForSql="yes" newStyleSaveDlg="no" isFolderDroppedOpenFiles="no" docPeekOnTab="yes" docPeekOnMap="no" />
        <GUIConfig name="searchEngine" searchEngineChoice="2" searchEngineCustom="" />
        <GUIConfig name="SmartHighLight" matchCase="no" wholeWordOnly="yes" useFindSettings="no" onAnotherView="yes">yes</GUIConfig>
        <GUIConfig name="ScintillaPrimaryView" lineNumberMargin="show" bookMarkMargin="show" indentGuideLine="hide" folderMarkStyle="box" lineWrapMethod="aligned" currentLineHilitingShow="show" scrollBeyondLastLine="no" disableAdvancedScrolling="no" wrapSymbolShow="hide" Wrap="yes" borderEdge="yes" edge="no" edgeNbColumn="100" zoom="0" zoom2="0" whiteSpaceShow="hide" eolShow="hide" borderWidth="2" smoothFont="no" />
        <GUIConfig name="DockingManager" leftWidth="264" rightWidth="765" topHeight="200" bottomHeight="324">
            <FloatingWindow cont="4" x="594" y="907" width="1499" height="1117" />
            <FloatingWindow cont="5" x="594" y="907" width="1499" height="1117" />
            <PluginDlg pluginName="Notepad++::InternalFunction" id="44085" curr="0" prev="-1" isVisible="yes" />
            <PluginDlg pluginName="dbgpPlugin.dll" id="0" curr="3" prev="4" isVisible="no" />
            <PluginDlg pluginName="dummy" id="0" curr="3" prev="-1" isVisible="yes" />
            <PluginDlg pluginName="Notepad++::InternalFunction" id="44084" curr="1" prev="-1" isVisible="no" />
            <PluginDlg pluginName="NppManagedPluginDemo" id="15" curr="1" prev="5" isVisible="yes" />
            <ActiveTabs cont="0" activeTab="0" />
            <ActiveTabs cont="1" activeTab="-1" />
            <ActiveTabs cont="2" activeTab="-1" />
            <ActiveTabs cont="3" activeTab="-1" />
            <ActiveTabs cont="4" activeTab="-1" />
        </GUIConfig>
    </GUIConfigs>
    <ProjectPanels>
        <ProjectPanel id="0" workSpaceFile="" />
        <ProjectPanel id="1" workSpaceFile="" />
        <ProjectPanel id="2" workSpaceFile="" />
    </ProjectPanels>
    <FileBrowser latestSelectedItem="E:/_Project/Cwc/Toolchain/VLianceTool/LibRT/LibRT-3.9.0.1/clang_inc/\pkuintrin.h">
        <root foldername="E:/_Project/Cwc/Toolchain/VLianceTool/LibRT/LibRT-3.9.0.1/clang_inc/" />
        <root foldername="O:/_GitProjects/oryol/code/" />
    </FileBrowser>
</NotepadPlus>
